$xxxl: 1720px;
$xxl: 1540px; // 4k and hi-res desktop
$xl: 1140px; // 4k and hi-res desktop
$lg: 960px; // 1080 and hi-res laptops
$med: 720px; // hi-res tablets and low-res laptops
$sm: 540px; // mobile and low-res tablets
$xs: 0; // mobile only

$blanco: #ffffff;
$blue: #007bff;
$negro:#000000;
$rojo:#fc0000;