<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- <title>{{ title }}</title> -->
<title>Zoo Concepcion</title>
<link href="https://fonts.googleapis.com/css?family=Krub"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/baseStyle.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</head>
<body>
	<nav>

		<div class="btn-nav">
                <a class="login-nav" href="/login">Iniciar Sesion</a>
		</div>
	</nav>
	<main style="padding-top:20%; padding-bottom:20%; margin-left: 25%; margin-right:25%;">
	<h2>Bienvenido a Zoo Concepcion</h2>
		<div>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam recusandae explicabo ea earum voluptates cupiditate distinctio sed cumque asperiores repudiandae nobis officia quasi dolorem neque perspiciatis libero aspernatur ipsum tempore.
			</p>
		</div>
	</main>
	<footer Class="footer navbar-fixed-bottom">
		<div class="footer-colums">
			<p>
				e-mail: <strong>zoo.concepcion@gmail.cl</strong>
			</p>
		</div>
		<div>
			<h3>ZOO Concepción</h3>
			<p>
				AV. siempre viva #1004 <br /> Telefono: <strong> 23456789</strong>
			</p>
		</div>
	</footer>
</body>
</html>